.img-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}
table {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

footer {
  margin-top: 20px;
  color: gray;
}
